
body{
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	display: block;
	}
	 
#menu{
	background-color: #4A001F
/* width: 100%; */
	
}
#menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

#menu li{
	float:left;
}
#menu li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#menu li a:hover{ 
	background-color: #6A0F49;
}
/* .active{
	background-color: #2E0219;
} */




